/* base */
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
h1{
    font-size: 55px;
    line-height: 64px;
    color: black;

}
h2{
    font-size: 39px;
    line-height: 54px;
    color: black;

}
h4{
    font-size: 20px;
    color: black;
}
h6{
    font-size: 12px;
   font-weight: 700;
}
p{
    font-size: 23px;
    color: rgb(88, 72, 72);
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;

}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
/* header */
#header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 80px;
background-color: white;
box-shadow: 0 5px 10px rgba(0,0, 0, 0.6);
width: 100%;
height: 80px;
z-index: 999;
position: sticky;
top: 0;
left: 0;


}
#header img{
    width: 100px;
    height: 90px;
padding-bottom: 5px;

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.5s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: blue;

}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 50%;
    height: 2px;
   background: #080c81;
   position: absolute;
   border: 2px;
   left: 20px;
top: 30px;
}
/* background image */
#hero{
    background-image: url(WhatsApp\ Image\ 2024-02-03\ at\ 11.24.05\ PM.jpeg);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
   padding-bottom: 100px;
   line-height: 2rem;
background-size: 100% 100%;
   box-shadow: rgba(149,157, 165, 0.2) 0px 8px 24px;
   animation: changeImage 10s infinite;
}
@keyframes changeImage {
    0%{
        background-image: url(360_F_438798749_GopkooFm29f4eILRYLAlKiD6EfwuxEw4.jpg);
    }
    
    50%{
        background-image: url(bages.avif);
    }
    75%{
        background-image: url(3d.jpg);
    }
   
    100%{
        background-image: url(modern-luxury-shopping-mall-department-store-interior-blur-abstract-defocused-background-with-bokeh-light_293060-2665.avif);
    }
}
#hero h4{
 line-height: 1rem;
 font-family: 'Times New Roman', Times, serif;
}
#hero h1{
 color: blue; 
 text-shadow: 3px 5px 2px #2f2828;
 }
 #hero button{
    
    border: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
border-radius: 5px;
 cursor: pointer;
 font-weight: 700;
font-size: 17px;
background-color: black;
color: white;


 }
 #hero button:hover{
    color: black;
   background-color: white;
    border-radius: 10px;
    font-weight: 700;
 }
 #hero h4 b{
    color: red;
 }
 #hero h6{
    font-size: 1.2rem;
 padding-right: 90px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 #hero h1 p{
    font-size: 4.2rem;
    text-align: center;
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-shadow: 3px 5px 2px #2f2828;
 }
#hero h6{
    padding-bottom: 50px;
    padding-left: 130px;
    font-size: 1.6rem;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
#feature .fe-box{
width: 180px;
text-align: center;
padding: 25px 15px;
box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
border: 2px solid #e0e8e3;
border-radius: 4px;
margin: 15px 0;
}
#feature .fe-box img{
    height: 120px;
 width: 100%;
 margin-bottom: 10px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(1, 1, 2, 0.1);
}
#feature .fe-box h6{
    padding: 10px 8px 6px 10px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(43, 18, 118);
    background-color: rgb(184, 194, 195);
  display: inline-block;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdb2d2;
    }
    #feature .fe-box:nth-child(3) h6{
        background-color: #87c8d4;
        }

        #feature .fe-box:nth-child(4) h6{
            background-color: #e8afc3;
            }

            #feature .fe-box:nth-child(5) h6{
                background-color: #add389;
                }
                #feature .fe-box:nth-child(6) h6{
                    background-color: #f3eea0;
                    }
                    #product1 .pro {
                  height: 500px;
                  width: 300px;
                  padding: 10px 12px;
                  border: 1px solid rgb(216, 211, 203);
                  border-radius: 25px;
                  cursor: pointer;
                  box-shadow: 20px 20px 30px rgba(0, 0,0, 0.02);
                  margin: 15px 0 ;
                  transition: 0.2s ease;
                  position: relative;
                   }
                   #product1 .pro:hover {
                    box-shadow: 20px 20px 30px rgba(0, 0,0, 0.06);
                   }
                   #product1{
                    text-align: center;
                   }
                   #product1 .pro img {
                    width: 100%;
                    border-radius: 20px;
                    height: 380px;
                   }
                   #product1 .pro .des{
                    text-align: start;
                    padding: 10px 0;
                   }
                   #product1 .pro .des span{
                     color: #606063;
                     font-size: 12px;
                   }
                   #product1 .pro .des h5{
                    padding-top: 7px;
                    color: #1a1a1a;
                    font-size: 14px;
                   }
                   #product1 .pro .des i{
                    font-size: 12px;
                    color: rgba(243, 181, 25);
                   }
                   #product1 .pro .des b{
                    padding-top: 7px;
                    font-size: 15px;
                    font-weight: 700;
                    color: #088178;
                   }

                   #product1 .pro .cart{
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 50px;
                    background-color: #c4c6bd;
                    font-weight: 500;
                    color: #810808;
                    border:  1px solid  #cce7d0; position: absolute;
                   position:absolute;
                   bottom: 20px;
                   right: 10px;
                   
                   }
                   #product1 .pro-container{
display: flex;
justify-content: space-between;
padding-top: 20px;
flex-wrap: wrap;

                   }

   #banner{
    background-image: url(banner.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
   }     
 .btn{
margin-top: 250px;
margin-left: 800px;
font-size: 14px;
font-weight: 600;
padding: 8px 15px;
color: black;
background-color: white;
border-radius: 4px;
cursor: pointer;
border: none;
transition: 0.2s;
   }           
   #banner button:hover{
    background-color: #088178;
    color: white;
   }

  #sm-banner .banner-box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 30px;
background-image: url(imge35.png);
min-width: 670px;
height: 50vh;
background-size: cover;
background-position: center;
  }
  #sm-banner .banner-box2{
    background-image: url(stack-colorful-clothes-pile-clothing-600nw-2203081765.webp)
  }
  #sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #sm-banner h4{
color: rgb(66, 53, 151);
font-size: 20px;
font-weight: 400;
  }
  #sm-banner h2{
    color: rgb(48, 69, 124);
    font-size: 45px;
    font-weight: 800;
      }

      #sm-banner span{
        color: rgb(83, 89, 148);
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 15px;
          }
.button{
padding: 8px 15px;
    color: black;
background-color: white;
border-radius: 4px;
cursor: pointer;
border: none;
transition: 0.2s;
}
.button:hover{
    background-color: #088178;
    color: white;
   }   
   #banner3   .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-image: url(sofa.webp);
    min-width:30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
      }
      #banner3 h2 {
        color: rgb(80, 18, 18);
        font-weight: 900;
        font-size: 22px;
      }

      #banner3 h3 {
        color: rgb(80, 18, 18);
        font-weight: 800;
        font-size: 12px;

      }

      #banner3 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 80px;
      }
      #banner3   .banner-box2{
        background-image: url(cloths.avif)
      }

      #banner3   .banner-box3{
        background-image: url(home.jpg)
      
      }
      /* footer */
      #newsletter{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        background-image: url();
        background-repeat: no-repeat;
        background-position: 20% 30%;
        background-color: #041e42;

      }
      #newsletter h4{
        font-size: 22px;
        font-weight: 800;
        color: white;
        
      }
      #newsletter p{
        font-size: 14px;
        font-weight: 600;
        color: rgb(154, 92, 92);
        
      }
      #newsletter p span {
        color: #ffbd27;
      }
      #newsletter input{
        height: 3.125rem;
        padding: 0 1.25em;
        font-size: 14px;
        width: 100%;
        border: solid transparent;
        border-radius: 4px;
        outline: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      #newsletter button {
background-color: #08817978;
color: white;
white-space: nowrap;
border-top-left-radius: 0;
border-bottom-left-radius: 0;

      }
      #newsletter .form{
        display: flex;
        width: 40%;

      }
      .row img{
width: 200px;
height: 50px;
      }
      img{
        width: 300px;
height: 50px;
      }
      footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

      }
      footer .col{
        display: flex;
   align-items: flex-start;
   margin-bottom: 20px;
flex-direction: column;
margin-bottom: 20px;
padding-left: 50px;   
      }
      footer .logo {
margin-bottom: 30px;

      }
      footer h4{
       font-size: 14px;
       padding-bottom: 20px;
      }
      footer p{
        font-size: 13px;
       margin: 0 0 10px 0;
       }
       footer a{
        font-size: 13px;
       margin:10px;
       text-decoration: none;
       color: #222;
       }
       footer .follow{
margin-top: 20px;
       }
       footer .follow i{
     color: #465b52;
     padding-right: 4px;
     cursor: pointer;
               }
               footer .install .row img{
border: 1px solid #088178;
border-radius: 6px;

               }   
               footer .install img{
                margin: 10px 0 15px 0;
               }
               footer .follow i:hover,
               footer a:hover {
                color: #088178;
               }
               footer .copyright{
                width: 100%;
text-align: center;
               }
               #mobile{
                display: none;
                align-items: center;
               }
               #close{
                display: none;
               }
               #navbar.active{
                right: 0px;
               }
  
               /*responsive  */
               @media (max-width:1000px) {
               .section-p1{
                padding: 120px 100px;
               }
               
                #navbar{
                  display: flex;
                  align-items: flex-start;
                  justify-content: flex-start;
                  flex-direction:column ;
                  position: fixed;
                  top: 0px;
                  right: -300px;
                  height: 100vh;
                  width: 300px;
                  background-color: #E3E6F3;
                  box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
                  padding: 80px 0 0 10px;
                  transition: 0.3s;
                }
                #navbar li{
margin-bottom: 25px;
                }
                #mobile{
                  display: flex;
                  align-items: center;
                 }
                 #mobile i{
color: #1a1a1a;
font-size: 24px;
padding-left: 20px;
                 }

                 #close{
                  display: initial;
                  position: absolute;
                top: 30px;
                left: 30px;
                color: #222;
                font-size: 24px;
                 }
                 #lg-bag{
                  display: none;
                 }
                 #hero{     
                  height: 200vh;
               background-position: top 30% right 30%;     
                  padding: 0 80px;   
              }
              #feature{
                justify-content: center;
              }
              #feature .fe-box{
                margin: 15px 15px;
              }
              #product1 .pro-container{
                justify-content: center;
              }
              #product1 .pro{
margin: 30px;
              }
              .banner-box{
              min-width: 100%;
           height: 30vh;

             }
             .banner-box2{
              margin-top: 30px;
            }
            #newsletter .form{
              width: 70%;
            }
               }

            @media(max-width:477px) {
             .section-p1{
              padding: 20px;
             }
              #header{
padding: 10px 30px;
              }
              #hero{
                height: 600px;
              }
              h1{
                font-size: 38px;
              }
              h2{
                font-size: 32px;
              }
              #hero{
                padding: 0 20px;
                background-position: 55%;
              }
              #feature{
                justify-content: space-between;
              }
              #feature .fe-box{
                width: 155px;
                margin: 0 0 15px 0;
              }
#product1 .pro{
  width: 100%;
}
#banner{
  height: 35vh;
  width: 1000px;
}
.banner-box{
  height: 40vh;

}
.banner-box2{
  margin-top: 30px;
}
.banner-box3{
  width: 100%;
  padding: 0 20px;
}
#newsletter{
  padding: 40px 20px;
}
#newsletter .form{
  width: 100%;
}
footer .copyright{
  text-align: start;
}
.small-img{
 display: none;
}
            }
             /* shop page */
             #page-header{
              background-image: url('ban.jpg');
height: 30vh;
background-size: cover;
padding-bottom: 100px;
min-width: 100%;
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
padding: 14px;
             }
             #page-header h2,
             #page-header h6{
color: white;
font-size: 30px;
             }
             #pagination{
              text-align: center;
             }
             #pagination a{
              text-decoration: none;
              background-color: #088178;
              padding: 15px 20px;
              border-radius: 4px;
              color: white;
              font-weight: 600;
             }
            /* single product */
            #prodetails{
              display: flex;
              margin-top: 20px;
            }
            #prodetails .single-pro-image{
width: 40%;
margin-right: 50px;
            }
            #MainImg{
              height: 650px;
              width: 500px;
            }
            .small-img-group{
              display: flex;
             justify-content: space-between;
         
            }
            .small-img{
              height: 370px;
              width: 190px;
          margin-left: 25px;
           margin-top: 130px;
       
            }
            .small-img-col{
              flex-basis: 24%;
              cursor: pointer;
            }
            select{
              display: block;
              padding: 5px 10px;
              margin-bottom: 10px;
            }
            input{
              width: 50px;
              height: 47px;
              padding-left: 10px;
              font-size: 16px;
              margin-right: 10px;
            }
            .button{
              background-color: #1c1c29;
              color: white;
            }
            input:focus{
outline: none;
            }
            span{
              line-height: 25px;
              font-size: 15px;
            }
          
